<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
      <supportedRuntime version="v2.0.50727" sku=".NETFramework,Version=v4.5.1"></supportedRuntime>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="http" closeTimeout="00:10:00" openTimeout="00:10:00"
                    receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="2147483647"
                    maxReceivedMessageSize="2147483647" useDefaultWebProxy="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2500/ReflectionServiceHost/ReflectionService.svc"
                binding="basicHttpBinding" bindingConfiguration="http" contract="ReflectionWebExecuter.IReflectionService"
                name="http" />
        </client>
    </system.serviceModel>
</configuration>