<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
  </configSections>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <!-- CRITICAL NOTE: runtime: Added newly to reduce OutOfMemoryException START-->
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <!-- CRITICAL NOTE: runtime: Added newly to reduce OutOfMemoryException END-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="aspnet:AllowAnonymousImpersonation" value="false"/>
    
    <add key="strConnectionString" 
		value="Data Source=PRAKTAN-T16;Initial Catalog=ESSEMERP;Persist Security Info=True;User ID=sa;Password=Sqlsa123"/>
	  <!--<add key="strConnectionString" 
		value="Data Source=PRAKTAN\SQLSERVER22;Initial Catalog=PRAKTANTECHDB;Persist Security Info=True;User ID=sa;Password=Sqlsa123"/>-->
    <!--REFLECTIONDB AMDEESDB ASAERPDB ESSEMERP ACCURADB ATSDB PRAKTANTECHDB POWERDB
	    SANDFIELDDB POWERDB BEPINDIADB iCATDB REFLECTIONDB -->

    <!--<add key="strConnectionString" value="Data Source=103.68.34.129;Initial Catalog=rcloud_erp_db;Persist Security Info=True;User ID=sa;Password=Sqlsa123"/>-->
    <!--<add key="strConnectionString" value="Data Source=103.68.34.129;Initial Catalog=ACCURADB;Persist Security Info=True;User ID=sa;Password=Sqlsa123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=AMDEESDB;Persist Security Info=True;User ID=amd_user;Password=Amduser@123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=ATSDB;Persist Security Info=True;User ID=ats_user;Password=Atsuser@123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=PRAKTANTECHDB;Persist Security Info=True;User ID=erp_user;Password=Erpuser@123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=BEPINDIADB;Persist Security Info=True;User ID=bep_user;Password=Bepuser@123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=SANDFIELDDB;Persist Security Info=True;User ID=san_user;Password=Sanuser@123"/>-->
    <!--<add key="strConnectionString" value="Data Source=101.53.144.218;Initial Catalog=POWERDB;Persist Security Info=True;User ID=pe_user;Password=Peuser@123"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
      
      
        <httpRuntime targetFramework="4.6" />i
      </system.Web>
      
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.5.1"/>
    <trust level="Full" />  <!-- CRITICAL NOTE: <trust level="Full"/>: Added newly to reduce OutOfMemoryException -->
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior > 
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="ReflectionServiceHost.ReflectionService"  >
        <endpoint name="http" binding="basicHttpBinding" bindingConfiguration="customBinding" 
                  contract="ReflectionServiceHost.IReflectionService"  />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="customBinding" maxReceivedMessageSize="2147483647" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxBufferSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <diagnostics>
      <messageLogging maxMessagesToLog="30000"
              logEntireMessage="true"
              logMessagesAtServiceLevel="true"
              logMalformedMessages="true"
              logMessagesAtTransportLevel="true">
      </messageLogging>
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Verbose, ActivityTracing"
              propagateActivity="true" >
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="e2eTraceTest.e2e" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <!-- <staticContent>
            <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
        </staticContent>   -->
    <!--<staticContent>
        <mimeMap fileExtension=".rdlc" mimeType="application/xml" />
    </staticContent>-->
    <!--<staticContent>
        <mimeMap fileExtension=".rdlc" mimeType="application/octet-stream" />
    </staticContent>-->
  </system.webServer>
</configuration>