<chronoserp.widgets>
  <widgets>
    <widget id="NavigatorWidget"
            type="Reflection.Presentation.Widgets.NavigatorWidget, Reflection.Presentation.Widgets" />
    <widget id="DigitalClockWidget"
            type="Reflection.Presentation.Widgets.ClockWidget, Reflection.Presentation.Widgets" />
    <widget id="CalendarWidget"
            type="Reflection.Presentation.Widgets.CalendarWidget, Reflection.Presentation.Widgets" />
    <widget id="CalculatorWidget"
            type="Reflection.Presentation.Widgets.CalculatorWidget, Reflection.Presentation.Widgets" />
  </widgets>
</chronoserp.widgets>